@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
.App {
  width: 100vw;
  height: 100vh;
}
.form-wrapper {
  min-width: 450px;
  background-color: #f1f8ff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navigation hr {
  font-size: 10px;
  color: #bfbdbd;
}

.progress-container {
  background-color: #60cae776;
  width: 100%;
  border-radius: 15px;
}
.progress {
  background-color: #60cae7;
  color: white;
  padding: 1%;
  text-align: right;
  font-size: 20px;
  border-radius: 15px;
}
